@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?jp9678');
	src:  url('fonts/icomoon.eot?jp9678#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?jp9678') format('truetype'),
	url('fonts/icomoon.woff?jp9678') format('woff'),
	url('fonts/icomoon.svg?jp9678#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.celicon {
	font-family: FontAwesome, 'icomoon' !important;
	display: inline-block;
	speak: none;
	font-size: 1.33333em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	/*text-transform: none;*/
	line-height: 1;
	vertical-align: -21%;
	text-rendering: auto;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.celicon-refresh i:before {
	content: "\e900";
}
.celicon-trash i:before {
	content: "\e901";
}
.celicon-check-circle i:before {
	content: "\e902";
}
.celicon-warning i:before {
	content: "\e903";
	color: yellow !important;
}
.celicon-plus-square:before {
	content: "\e904";
}
.celicon-minus-square:before {
	content: "\e905";
}

.errorlog-li a {padding: 0 !important;}
.errorlog-li a span {color: red; background-color: white;padding: 5px;}
#errorlog-box {background-color: #FFF;border: 2px solid #DDD;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);position: absolute;width: 1200px;z-index: 5000;}
#errorlog-box-title {background-color: #EFEFEF;padding: 10px 5px;margin: 3px;}
#errorlog-box-body {height: 500px;padding: 10px 8px;overflow: auto;}
#errorlog-box-title button {position: absolute;top: 5px;padding: 3px 6px !important;}
#clearlog-btn {right: 35px;}
#close-btn {right: 8px;}
#errorlog-last-lines-content {height: calc(100% - 70px) !important;}
#errorlog-window .btn-danger:hover {
	background-color:#c9302c;
	box-shadow: 0 0 0 1px #ac2925;
	color: #fff;
}
#errorlog-window .x-window-body {
	padding: 0;
	box-sizing: border-box;
}
#errorlog-window .x-window-body textarea {box-sizing: border-box;}
#errorlog-window .raw-output {
	padding: 10px;
	box-sizing: border-box
}
/********************************************/
.error-log-table {width: 100%;}
.error-log-table tr {
	border-top: 1px solid #cbcbcb;
}
.error-log-table tr.error-description {
	border-top: none;
}
.error-log-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb
}

.error-log-table caption {
	color: #000;
	font: italic 85%/1 arial, sans-serif;
	padding: 1em 0;
	text-align: center
}

.error-log-table td, .error-log-table th {
	border-left: 1px solid #cbcbcb;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: .5em 1em
}
.error-log-table tbody td {
	border-left: none !important;
}
.error-log-table thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom
}

.error-log-table thead th:first-child {
	width: 10px;
}
.error-log-table thead th.date {
	width: 1em;
}
.error-log-table thead th.time {
	width: 1em;
}
.error-log-table thead th.type {
	width: 1em;
}
.error-log-table td {
	background-color: transparent
}

.error-log-table-odd td {
	background-color: #f2f2f2
}

.error-log-table-striped tr:nth-child(2n-1) td {
	background-color: #f2f2f2
}

.error-log-table-bordered td {
	border-bottom: 1px solid #cbcbcb
}
.error-log-table .collapsed {
	display: none;
}

.error-log-table-bordered tbody > tr:last-child > td {
	border-bottom-width: 0
}
.error-log-table pre {
	font: inherit;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.error-log-table i.toggle {
	cursor: pointer;
	font-size: 1em;
}
.error-log-table tbody td:first-child {position: relative !important}

/** ***************************************** **/
.text-error {
	color: #ce0114;;
}
.error-log-table tr.error-message td:first-child > div{
	background-color: #ff8c8c;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 5px;
}
.error-log-table tr.warn-message td:first-child > div{
	background-color: #fae6a7;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 5px;
}
.error-log-table tr.debug-message td:first-child > div{
	background-color: #bfecf5;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 5px;
}
.error-log-table tr.info-message td:first-child > div{
	background-color: #c2eccb;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 5px;
}
.error-log-table tr.fatal-message td:first-child > div{
	background-color: #c80000;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	width: 5px;
}